name: Sync Files
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3.0.2
      - name: Run GitHub File Sync
        uses: BetaHuhn/repo-file-sync-action@v1
        with:
          GH_PAT: ${{ secrets.SYNC_TOKEN }}
          PR_LABELS: BuildAutomation
          COMMIT_PREFIX: "(maint) "
          # TEAM_REVIEWERS: "" # Placed as reference in case we want to automatically add a reviewer